
html {
    margin: 0;
    background-color: white;
    z-index: -1;

}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    display: block;
    flex-direction: column;
    
}

.title {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
}
header p {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
nav {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: .2rem;
    font-size: 30px;
    width: 100%;
    margin: 0;
    background-color: rgb(236, 235, 235);

}
nav li {
    display: inline-block;
    padding: 1.5rem;
    margin-right: 2rem;
    text-decoration-line: none;
}
nav li:hover {
    background-color: white;
    cursor: pointer;
}
nav ul {
    list-style-type: none;
    margin-right: 2rem;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  1rem 20rem;

}


#home, #about, #contact, #projects {
    display: none;
    margin: .5rem;
    border-left: solid .3rem;
    border-bottom: solid .3rem;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgb(236, 235, 235);

}
div h2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 20rem;
    font-size: 5rem;
    font-weight: lighter;
    
}
div p {
    background-color: white;
    text-align: left;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-right: 10rem;
    font-size: 1.5rem;
    
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:rgb(236, 235, 235);
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0rem;
    float: bottom;
    font-family: sans-serif;
    padding: 0rem 3rem;
}


